<div id='headerContainer'> 
	<div id='navContainer'>
		<div id='leftPad'>
		</div>
		<div class='navButtonContainer'>
			<div class='navButtons'>
				<%= link_to notes_path, :action => 'go' do %>
					<div id='textBox'>
						Notes
					</div>
				<% end %>
			</div>
		</div>
		<div class='navButtonContainer'>
			<div class='navButtons'>
				<div id='textBox'>
					Lists
				</div>
			</div>	
		</div>
		<div class='navButtonContainer'>
			<div class='navButtons'>
				<div id='textBox'>
					???
				</div>
			</div>	
		</div>
		<div class='navButtonContainer'>
			<div class='navButtons'>
				<div id='textBox'>
					Profit
				</div>
			</div>	
		</div>
	</div>
	<div id='accountContainer'>
		<div id='accountButtonContainer'>
				<div id='accountButton'>
					<%= link_to log_out_path, :method => :delete do %>
						<div id='textBox'>
							Account
						</div>
					<% end %>
				</div>
		</div>
	</div>
</div>