<div id='headerContainer'> 
	<div id='navContainer'>
			<%= link_to notes_path, :action => 'go' do %>
				<div id='textBox'>
					Notes
				</div>
			<% end %>
			<%= link_to lists_path, :action => 'go' do %>
				<div id='textBox'>
					Lists
				</div>
			<% end %>
			<%= link_to contacts_path, :action => 'go' do %>
				<div id='textBox'>
					Contacts
				</div>
			<% end %>
	</div>
	
	<%= link_to log_out_path, :method => :delete do %>
		<div id='textBox'>
			Logout 
		</div>
	<% end %>

</div>