#center {
	margin: auto;
	position: absolute;
	vertical-align:middle;
	height: 100%;
	width: 100%;
	background: linear-gradient(#ffffff, #cacaca);
}

#container {
	display: flex;
	flex-direction: column;
	margin: auto;
	width: 30%;
	height: 30%;
	transform: translate(0, 50%);
	border: solid 1px rgba(0, 0, 0, 0.171);
	border-radius: 5px;
	padding: 1rem;
	color:rgb(36, 36, 36);
	background: linear-gradient( #f7f7f7,#ffffff);

}
#registerContainer {
	text-align: center;
	display: flex;
	flex-direction: column;
	height: 100%;
	color:rgb(36, 36, 36);
}

#email{
	color:rgb(55, 55, 55);
	border: solid 1px rgba(0, 0, 0, 0.205);
	height: 2rem;
	font-size: 1.5rem;
	font-family: "Open Sans", sans-serif;
	border-radius: 2px;

}

#password{
	color:rgb(55, 55, 55);
	border: solid 1px rgba(0, 0, 0, 0.205);
	height: 2rem;
	font-size: 1.5rem;
	font-family: "Open Sans", sans-serif;
	border-radius: 2px;
}

#name{
	color:rgb(55, 55, 55);
	border: solid 1px rgba(0, 0, 0, 0.205);
	height: 2rem;
	font-size: 1.5rem;
	font-family: "Open Sans", sans-serif;
	border-radius: 2px;
}

#form{
	color:rgb(36, 36, 36);
	height: 100%;
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

#submit {
	color:rgb(255, 255, 255);
	background-color: rgb(132, 195, 64);
	border: solid 1px rgba(0, 0, 0, 0.171);
	border-radius: 5px;
	margin: 0px;
	font-size: 1.5rem;
	font-family: "Open Sans", sans-serif;
	width: 100%;
}
